<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"


>
<head>
    <meta charset="UTF-8">
    <title>Products</title>

</head>
<body>
<div class="p-3" layout:fragment="content1">
    <div class="p-3"></div>

    <a class="btn btn-primary" th:href="@{/newProduct}">
        New Product
    </a>
    <table class="table">
        <thead>
        <th>ID</th> <th>Name</th> <th>Price</th> <th>Quantity</th>
        </thead>
        <tbody>
        <tr th:each="p:${productList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td>
                <a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')" th:href="@{/delete(id=${p.id})}">Delete</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>